@import "tailwindcss";
@plugin "daisyui" {
	themes: black, abyss, cyberpunk, luxury, forest;
}

:root {
	font-family: "Urbanist";
	font-weight: 500;
}

@layer base {
	* {
		margin: 0;
		padding: 0;
	}
}

@theme {
	--color-zomp: #3ea38d;
	--color-raisinblack: #2a242d;
	--color-indianred: #d16666;
	--color-hunyadi: #e9b44c;
	--color-englishvio: #3f3644;
	--color-abysslight: #ffd6a7;
	--color-abyssdark: #001e29;
}
